html,body{
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin:0;
}
.logo-back{
    /* background-color:rgba(155, 151, 151, 0.5); */
    height: 100%;
    width: 100%;
}
#logo{
    margin: auto;
    margin-top: 10px;
    max-height: 200px;
    max-width: 200px;
}
section{
    text-align: center;
    padding:50px;
    min-height: 520px;
}

#h1{

    font-size: 80px;
    font-weight: 60px;
    font-style: normal;
    color: rgb(104, 10, 47);

}
#welcome{
    margin: auto;
    margin-top: 233px;
    color:rgb(231, 247, 6);
    font-size: 40px;
    font-family: oswald;
    font-weight: 60px;
    font-style: normal;

}
h1{
    color: white;
}
p{
    font-size: 14px;
    font-weight: 30px;
    font-family: oswald;
    max-width: 500px;
    color: white;
    margin:0 auto;
}
ul li{
    list-style: none;
    margin: 0;
    padding:0;
    display: inline-block;
    margin: 0 20px;
    font-size: 20px;
    color: white;
}
a{
    color: white;
}
.parallax-window {
    min-height: 520px;
    background: transparent;
}
#downarrow{
    margin: auto;
    font-size: 40px;
    color:blue;
}
.social-facebook{
    margin:0 auto;
    padding:0;
    float: right;
    max-height: 45px;
    max-width: 45px;
}
.social-instagram{
    margin: auto;
    padding:0;
    float :right;
    max-height: 45px;
    max-width: 45px;
}
.social-instagram:hover{
    background-color:rgba(90, 90, 90, 0.5);
    border-radius: 100%;
}
.social-facebook:hover{
    background-color:rgba(90, 90, 90, 0.5);
    border-radius: 100%;
}
